<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Document</title>
	</head>
	<body>
		<h1>Create Profile</h1>
        <form action="/heroes" method="POST" class="data-entry">

            <!-- player first name (text input) -->
            <label for="playerName">Name</label>
            <p class="input-exp">Enter a name for your hero. It should be your first name or an easily identifiable moniker.</p>
            <input type="text" name="playerName" id="playerName">

            <!-- player title, adjective (text input) -->
            <label for="playerTitle">Title</label>
            <p class="input-exp">Enter a title to appear after your name. Ex: "James" + "Fabulous Sexy Beast" appears as "James the Fabulous Sexy Beast".</p>
            <input type="text" name="playerTitle" id="playerTitle">

            <!-- player color drop-down (color type) -->
            <label for="playerColor">Color</label>
            <p class="input-exp">Select a color for your dragon avatar, as well as your name on certain pages.</p>
            <select name="playerColor" id="playerColor">
                <option value="242424">Black</option>
                <option value="3a76d0">Blue</option>
                <option value="9f7a72">Brown</option>
                <option value="3ad0ac">Cyan</option>
                <option value="4ad03a">Green</option>
                <option value="d03ac5">Magenta</option>
                <option value="d0703a">Orange</option>
                <option value="f561be">Pink</option>
                <option value="8a3ad0">Purple</option>
                <option value="d03a3a">Red</option>
                <option value="d9d9d9">Silver</option>
                <option value="d0c13a">Yellow</option>
            </select>

            <!-- pass playerAvatar to req.body (hidden in CSS) -->
            <input type="text" id="playerAvatar" name="playerAvatar" value="">

            <!-- strengths (three text inputs) -->
            <label for="playerStrengths">Strengths</label>
            <p class="input-exp">Enter your three greatest strengths at the board game table.</p>
            <input type="text" name="playerStrengths" id="playerStrengths">
            <input type="text" name="playerStrengths" id="playerStrengths">
            <input type="text" name="playerStrengths" id="playerStrengths">

            <!-- about player (three text inputs) -->
            <label for="playerFaves">Favorites</label>
            <p class="input-exp">Enter your favorite board games, types of board games, whatever you want!</p>
            <textarea name="playerFaves" id="playerFaves" rows="3"></textarea>

        <div class="button-box">
            <button type="submit">Submit Profile</button>
        </form>
            <form action="/heroes">
                <button type="submit">Return to Den</button>
            </form>
            <form action="/">
                <button type="submit">Return To Lobby</button>
            </form>
        </div>
	</body>
</html>

<!--const playerProfile = new mongoose.Schema({
	playerName: String,
	playerTitle: String,
	playerColor: String,
	playerAvatar: String,
	playerRank: { type: String, default: "Hatchling" },
	playerExp: { type: Number, default: 0 },
	gamesPlayed: { type: Number, default: 0 },
});-->