<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Document</title>
	</head>
	<body>
		<section class="page-head">
			<h1>Edit Profile</h1>
		</section>
		<div class="button-box">
			<!-- <form action=""> -->
				<button type="submit">Update Profile</button>
			<!-- </form> -->
			<form action="/heroes">
				<button type="submit">Return to Den</button>
			</form>
			<form action="/">
				<button type="submit">Return To Lobby</button>
			</form>
		</div>
	</body>
</html>
