<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Document</title>
	</head>
	<body>
		<section class="page-head">
			<h1>The Hall of Champions</h1>
		</section>
		<section id="leaderboard">
			<h2>Current Ranking of Heroes</h2>
		</section>
		<div class="button-box">
			<form action="/champions/records/new">
				<button type="submit">Add New Record</button>
			</form>
			<form action="/champions/records">
				<button type="submit">View All Records</button>
			</form>
			<form action="/">
				<button type="submit">Return To Lobby</button>
			</form>
		</div>
	</body>
</html>
