<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>The Green Dragon Inn</title>
	</head>
	<body>
		<section class="page-head">
			<h3>Welcome to...</h3>
			<h1>The Green Dragon Inn</h1>
		</section>
		<section id="about">
			<p>Thank you for visiting our humble inn! Here we wage battles not of the flesh, but the mind. Prepare to test your mettle against fellow patrons and see who reigns supreme at the board game table! Read about our domains below:</p>
		</section>
		<section id="actions">
			<ul>
				<li>
					<h2>The Dragon's Hoard</h2>
					<p>Browse our extensive collection of board games, with search tools to find the perfect fit for your group. Spend less time looking and more time playing!</p>
				</li>
				<li>
					<h2>The Den of Heroes</h2>
					<p>Create and view player profiles. Earn experience by playing board games and move through the ranks. Play better and you'll rank up faster! </p>
				</li>
				<li>
					<h2>The Hall of Champions</h2>
					<p>Carve your legacy at The Green Dragon Inn. Compete for glory and view leaderboards to see how you stack up against other heroes over time!</p>
				</li>
			</ul>
		</section>
		<div class="button-box">
			<!-- <form action="/hoard"> -->
				<button type="submit">Dragon's Hoard</button>
			<!-- </form> -->
			<form action="/heroes">
				<button type="submit">Den of Heroes</button>
			</form>
			<form action="/champions">
				<button type="submit">Hall of Champions</button>
			</form>
		</div>
	</body>
</html>
