<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Index</title>
	</head>
	<body>
		<h1>MAIN PAGE</h1>
        <h2>Ideas</h2>
		<ul>
            <li>
                Weighted vs unweighted leaderboards - factors in how much that person is actually here and adjusts standings accordingly, so Dan/Fiona don't dominate
            </li>
            <li>
                Dynamic leaderboards - populate when loading, not stored elsewhere; orders player profiles based on a point value that is given based on how many people they beat in any given game, not the place they finished (gives more weight to games with more people) 
            </li>
            <li>
                Filters - can be generated based on different criteria, such as all-time, specific games or genres, etc.
            </li>
            <li>
                Learning Profiles - User input is minimal, instead their profile will adjust itself based on their performance and play records (strengths, favorite genre, etc)
            </li>
            <li>
                Level Up System - This is fun, but can get dicey; maybe base it off number of games played rather than specific performance (passive incentive)
            </li>
            <li>
                Avatars - Player should pick a color for their avatar, which will change shape as they level-up (i.e. pawn -> bishop -> knight -> rook -> queen -> king or the like [ASK DAN HIS OPINION])
            </li>
            <li>
                Still need a solution for co-op games...
            </li>
        </ul>
	</body>
</html>
