/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap");

/* GLOBAL */

* {
	box-sizing: border-box;
	color: white;
	background-color: darkslategray;
	font-family: "Almendra", sans-serif;
	font-weight: 350;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

body {
	margin: 2em;
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	width: 80dvw;
	max-width: 700px;
	gap: 1.2em;
}

/* GENERAL ELEMENTS */

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.2em;
}

a {
	text-decoration: none;
}

p,
a,
input {
	font-family: "Texturina", sans-serif;
	font-weight: 250;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 1em;
	list-style-type: none;
}

/* BUTTONS */

button {
	width: 225px;
	height: 50px;
	font-size: 1.1em;
}

a:hover,
button:hover {
	cursor: pointer;
	color: indianred;
}

.button-box {
	display: flex;
	gap: 1em;
	margin-top: 1em;
	justify-content: center;
	align-items: center;
}

/* CLASSES */

.page-head {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.data-entry {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}

.data-entry label {
	font-size: 1.5em;
}

.input-exp {
	font-size: 0.7em;
}

.inline-avatar {
	width: 2em;
}

/* ID-SPECIFIC */

#hero-roster li {
	display: flex;
	gap: 0.7em;
	align-items: center;
}

#hero-roster a {
	font-size: 1.2em;
}

#playerAvatar {
	display: none;
}

#show-name {
	display: flex;
	gap: 1em;
}

#show-name img {
	width: 3em;
	height: 3em;
}

#show-av2 {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

#hero-info li {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block: 0.25em;
}

#leaderboard {
	display: flex;
	flex-direction: column;
	gap: 0.7em;
	align-items: center;
}

#champ {
	font-size: 2.5em;
	margin-bottom: 0.5em;
}

#current-ranking {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

#current-ranking li {
	display: flex;
	gap: 0.7em;
	align-items: center;
}

#winner-list {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

#runner-list {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

/* RESPONSIVE DESIGN */

@media (max-width: 500px) {
	* {
		font-size: 16px;
	}
}
